<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="grogu-1104.SLDASM">
  <link
    name="torso_link">
    <inertial>
      <origin
        xyz="-0.032631246575749 0.000196374408698024 0.103737701901599"
        rpy="0 0 0" />
      <mass
        value="0.937733144148239" />
      <inertia
        ixx="0.00134026264204793"
        ixy="3.51031362289242E-07"
        ixz="-3.1560470943896E-05"
        iyy="0.00086163982685664"
        iyz="-2.73516942642923E-07"
        izz="0.00118252313093806" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/torso_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/torso_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip_roll_link">
    <inertial>
      <origin
        xyz="-4.8572E-17 0.011737 0.00052385"
        rpy="0 0 0" />
      <mass
        value="0.074596" />
      <inertia
        ixx="2.272E-05"
        ixy="4.1252E-20"
        ixz="-6.3703E-21"
        iyy="1.1446E-05"
        iyz="1.802E-06"
        izz="1.8092E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_roll_joint"
    type="revolute">
    <origin
      xyz="-0.039396 0.0136 -0.034598"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="left_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.52"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hip_yaw_link">
    <inertial>
      <origin
        xyz="0.000248154786262562 -9.14570905598371E-05 -0.000666625254303235"
        rpy="0 0 0" />
      <mass
        value="0.0153674744927436" />
      <inertia
        ixx="6.41806560492737E-06"
        ixy="3.80931634267525E-11"
        ixz="2.76345523294565E-10"
        iyy="7.05838051229621E-06"
        iyz="3.44152919648582E-08"
        izz="6.56255594990397E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.00030883 0.0173 -0.027672"
      rpy="0 0 0" />
    <parent
      link="left_hip_roll_link" />
    <child
      link="left_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.78"
      upper="0.78"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hip_pitch_link">
    <inertial>
      <origin
        xyz="-0.00517982797412826 -0.000314320304283154 -0.035163203484632"
        rpy="0 0 0" />
      <mass
        value="0.0624866320996391" />
      <inertia
        ixx="4.46237529714149E-05"
        ixy="-6.27207989580196E-07"
        ixz="-3.2716449897286E-06"
        iyy="4.41459525274955E-05"
        iyz="2.49480108416697E-08"
        izz="2.22359643779317E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0.0054 0"
      rpy="0 0 0" />
    <parent
      link="left_hip_yaw_link" />
    <child
      link="left_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.047"
      upper="1.047"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_knee_link">
    <inertial>
      <origin
        xyz="-0.0012128 8.7672E-05 -0.019164"
        rpy="0 0 0" />
      <mass
        value="0.037281" />
      <inertia
        ixx="1.7016E-05"
        ixy="-4.2963E-08"
        ixz="-3.9413E-06"
        iyy="1.8583E-05"
        iyz="5.3864E-07"
        izz="5.0796E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="-0.011403 0.00025 -0.079183"
      rpy="0 0 0" />
    <parent
      link="left_hip_pitch_link" />
    <child
      link="left_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0.00924109532414411 0.00101774796306793 -0.0144234841471009"
        rpy="0 0 0" />
      <mass
        value="0.0385592711765112" />
      <inertia
        ixx="7.06317499142214E-06"
        ixy="-1.27482736131202E-08"
        ixz="2.45394102072353E-06"
        iyy="1.16184420276096E-05"
        iyz="4.88524517527147E-08"
        izz="9.66320404747425E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.0089877 0 -0.060283"
      rpy="0 0 0" />
    <parent
      link="left_knee_link" />
    <child
      link="left_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.52"
      upper="0.52"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-0.00053789463828955 0.0138046931484376 4.52017263916499E-05"
        rpy="0 0 0" />
      <mass
        value="0.0105017443834061" />
      <inertia
        ixx="4.5681292821725E-07"
        ixy="-3.19424761908288E-08"
        ixz="-1.38414255526773E-10"
        iyy="4.87975909159253E-07"
        iyz="8.26520377729705E-11"
        izz="4.85867185800564E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.049095 0.036375 0.057681"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="left_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.92"
      upper="0.78"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.00995304076883315 0.00109800157325603 -0.000448773640356039"
        rpy="0 0 0" />
      <mass
        value="0.00768821469058828" />
      <inertia
        ixx="1.564546798228E-06"
        ixy="-1.46846683406989E-13"
        ixz="-3.87857549051053E-14"
        iyy="1.54926939250713E-06"
        iyz="-2.54016608893454E-11"
        izz="1.54921830467619E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0.0096986 0.0187 0"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_pitch_link" />
    <child
      link="left_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="-0.00040779355335481 0.00672444113507326 -0.0251232810915387"
        rpy="0 0 0" />
      <mass
        value="0.0186724129929808" />
      <inertia
        ixx="2.84955595392315E-06"
        ixy="3.92875101493501E-08"
        ixz="-1.45859743549997E-07"
        iyy="3.09159010264958E-06"
        iyz="1.58213090203774E-07"
        izz="1.97755316539174E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.011885 0.0028559 -0.021146"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_roll_link" />
    <child
      link="left_shoulder_yaw_link" />
    <axis
      xyz="0 -0.17365 0.98481" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_elbow_link">
    <inertial>
      <origin
        xyz="-0.00132164504299678 -0.00474457581115768 -0.0261754594040488"
        rpy="0 0 0" />
      <mass
        value="0.00863763929051039" />
      <inertia
        ixx="1.28571211782491E-06"
        ixy="-1.85582488139232E-08"
        ixz="2.21221614800562E-08"
        iyy="1.27487934444307E-06"
        iyz="1.09070810959129E-07"
        izz="7.53134388376275E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_elbow_joint"
    type="revolute">
    <origin
      xyz="0 0.01914 -0.041456"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_yaw_link" />
    <child
      link="left_elbow_link" />
    <axis
      xyz="0 0.98481 0.17365" />
    <limit
      lower="-1.74"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_wrist_yaw_link">
    <inertial>
      <origin
        xyz="0.000215152939564672 0.00583053372127228 -0.0353976205049803"
        rpy="0 0 0" />
      <mass
        value="0.00983743417614509" />
      <inertia
        ixx="3.05314023659876E-06"
        ixy="-4.36825138465018E-09"
        ixz="-3.85185456053503E-08"
        iyy="3.56068443970617E-06"
        iyz="4.85524659302738E-07"
        izz="1.4127671419176E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wrist_yaw_joint"
    type="revolute">
    <origin
      xyz="0 -0.0028325 -0.039796"
      rpy="0 0 0" />
    <parent
      link="left_elbow_link" />
    <child
      link="left_wrist_yaw_link" />
    <axis
      xyz="0 0.17365 -0.98481" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hip_roll_link">
    <inertial>
      <origin
        xyz="-8.8124E-16 -0.011737 0.00052385"
        rpy="0 0 0" />
      <mass
        value="0.074596" />
      <inertia
        ixx="2.272E-05"
        ixy="-5.3621E-20"
        ixz="-3.9474E-20"
        iyy="1.1446E-05"
        iyz="-1.802E-06"
        izz="1.8092E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_roll_joint"
    type="revolute">
    <origin
      xyz="-0.039396 -0.0136 -0.034598"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="right_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.57"
      upper="0.52"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hip_yaw_link">
    <inertial>
      <origin
        xyz="0.000247721957277444 9.87219235919108E-05 -0.000666653896738346"
        rpy="0 0 0" />
      <mass
        value="0.0153663043670067" />
      <inertia
        ixx="6.41733465268702E-06"
        ixy="-1.00271535954431E-10"
        ixz="2.81606220688501E-10"
        iyy="7.05897909448683E-06"
        iyz="-3.69606567383411E-08"
        izz="6.56117270958158E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.00030883 -0.016875 -0.027672"
      rpy="0 0 0" />
    <parent
      link="right_hip_roll_link" />
    <child
      link="right_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.78"
      upper="0.78"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hip_pitch_link">
    <inertial>
      <origin
        xyz="-0.00517666342114063 0.000444922134403301 -0.0351547658616105"
        rpy="0 0 0" />
      <mass
        value="0.0624637656045741" />
      <inertia
        ixx="4.46057630421511E-05"
        ixy="6.24305376264921E-07"
        ixz="-3.26337610282358E-06"
        iyy="4.41242562254291E-05"
        iyz="-3.26891416715201E-08"
        izz="2.22278670020001E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.0058247 0"
      rpy="0 0 0" />
    <parent
      link="right_hip_yaw_link" />
    <child
      link="right_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.047"
      upper="1.047"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_knee_link">
    <inertial>
      <origin
        xyz="-0.00163939627062874 -7.6119624134896E-05 -0.0193946910526338"
        rpy="0 0 0" />
      <mass
        value="0.037942700233976" />
      <inertia
        ixx="1.70187365960231E-05"
        ixy="-7.73324436837753E-08"
        ixz="-4.04976392856317E-06"
        iyy="1.87499407916327E-05"
        iyz="-7.6606328113655E-07"
        izz="5.31428438108697E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="-0.011403 0 -0.079183"
      rpy="0 0 0" />
    <parent
      link="right_hip_pitch_link" />
    <child
      link="right_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0.00943654342232179 -0.000847892876489426 -0.0144377561950727"
        rpy="0 0 0" />
      <mass
        value="0.0386425632927323" />
      <inertia
        ixx="7.06068648955434E-06"
        ixy="1.78270891427038E-08"
        ixz="2.50883001681716E-06"
        iyy="1.1737828180961E-05"
        iyz="-4.87622439967762E-08"
        izz="9.77045568357678E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.0089877 0 -0.060283"
      rpy="0 0 0" />
    <parent
      link="right_knee_link" />
    <child
      link="right_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.52"
      upper="0.52"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-0.000537894657896873 -0.0138046931726435 -4.52017044941591E-05"
        rpy="0 0 0" />
      <mass
        value="0.0105017443576149" />
      <inertia
        ixx="4.56812923989077E-07"
        ixy="3.19424787556374E-08"
        ixz="1.38412392679158E-10"
        iyy="4.87975906458379E-07"
        iyz="8.26497894411718E-11"
        izz="4.85867181013937E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.049095 -0.036375 0.057681"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="right_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.92"
      upper="0.78"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.00995304019193102 -0.00067049453081218 -0.000448769856750596"
        rpy="0 0 0" />
      <mass
        value="0.00753752774685983" />
      <inertia
        ixx="1.53390773304501E-06"
        ixy="-2.49279148633255E-15"
        ixz="-8.52978620839859E-15"
        iyy="1.51887250033071E-06"
        iyz="1.51872554987327E-11"
        izz="1.5188604536535E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0.0096986 -0.0187 0"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_pitch_link" />
    <child
      link="right_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="0.000251895531290104 -0.00640137978008107 -0.0230778737964693"
        rpy="0 0 0" />
      <mass
        value="0.0219448475888186" />
      <inertia
        ixx="3.63042225511739E-06"
        ixy="-4.95454735717698E-08"
        ixz="-1.94885414579322E-07"
        iyy="3.92670327324764E-06"
        iyz="-1.8883380464373E-07"
        izz="2.50178177690733E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.011885 -0.0028559 -0.021146"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_roll_link" />
    <child
      link="right_shoulder_yaw_link" />
    <axis
      xyz="0 0.17365 0.98481" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_elbow_link">
    <inertial>
      <origin
        xyz="-0.00132163237440532 0.00473662175089765 -0.0261747260476553"
        rpy="0 0 0" />
      <mass
        value="0.00862927001423049" />
      <inertia
        ixx="1.28457811956907E-06"
        ixy="1.83745862497998E-08"
        ixz="2.24032915347266E-08"
        iyy="1.27353884486642E-06"
        iyz="-1.09011999589713E-07"
        izz="7.52251480848409E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_elbow_joint"
    type="revolute">
    <origin
      xyz="0 -0.01914 -0.041456"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_yaw_link" />
    <child
      link="right_elbow_link" />
    <axis
      xyz="0 0.98481 -0.17365" />
    <limit
      lower="-1.74"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_wrist_yaw_link">
    <inertial>
      <origin
        xyz="0.000214630685237041 -0.00583269545794464 -0.0353898184700788"
        rpy="0 0 0" />
      <mass
        value="0.00983382878728473" />
      <inertia
        ixx="3.05177995655508E-06"
        ixy="4.35328733996589E-09"
        ixz="-3.81676561359359E-08"
        iyy="3.55903432545803E-06"
        iyz="-4.85968505041485E-07"
        izz="1.41239392060531E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wrist_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0.0028325 -0.039796"
      rpy="0 0 0" />
    <parent
      link="right_elbow_link" />
    <child
      link="right_wrist_yaw_link" />
    <axis
      xyz="0 -0.17365 -0.98481" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
</robot>